<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.project.score.mapper.ScoSubjectMapper">

    <resultMap type="ScoSubject" id="ScoSubjectResult">
        <result property="subjectId"    column="subject_id"    />
        <result property="subjectName"    column="subject_name"    />
        <result property="nature"    column="nature"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectScoSubjectVo">
        select subject_id, subject_name, nature, del_flag, create_by, create_time, update_by, update_time, remark from sco_subject
    </sql>

    <select id="selectScoSubjectList" parameterType="ScoSubject" resultMap="ScoSubjectResult">
        <include refid="selectScoSubjectVo"/>
        <where>
            <if test="subjectId != null "> and subject_id = #{subjectId}</if>
            <if test="subjectName != null  and subjectName != ''"> and subject_name like concat('%', #{subjectName}, '%')</if>
            <if test="nature != null  and nature != ''"> and nature = #{nature}</if>
        </where>
    </select>

    <select id="selectScoSubjectBySubjectId" parameterType="Long" resultMap="ScoSubjectResult">
        <include refid="selectScoSubjectVo"/>
        where subject_id = #{subjectId}
    </select>
    <select id="selectAllocatedList" parameterType="ScoTeacher" resultMap="ScoSubjectResult">
        select distinct s.subject_id, s.subject_name, s.nature, s.del_flag, s.create_by, s.create_time
        from sco_subject s
            left join sco_teacher_subject st on s.subject_id = st.subject_id
            left join sco_teacher t on st.teacher_id = t.teacher_id
        where st.teacher_id = #{teacherId}
        <!--数据范围过滤-->
        ${params.dataScope}
    </select>

    <insert id="insertScoSubject" parameterType="ScoSubject" useGeneratedKeys="true" keyProperty="subjectId">
        insert into sco_subject
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="subjectName != null and subjectName != ''">subject_name,</if>
            <if test="nature != null and nature != ''">nature,</if>
            <if test="delFlag != null">del_flag,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="subjectName != null and subjectName != ''">#{subjectName},</if>
            <if test="nature != null and nature != ''">#{nature},</if>
            <if test="delFlag != null">#{delFlag},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
        </trim>
    </insert>

    <update id="updateScoSubject" parameterType="ScoSubject">
        update sco_subject
        <trim prefix="SET" suffixOverrides=",">
            <if test="subjectName != null and subjectName != ''">subject_name = #{subjectName},</if>
            <if test="nature != null and nature != ''">nature = #{nature},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where subject_id = #{subjectId}
    </update>

    <delete id="deleteScoSubjectBySubjectId" parameterType="Long">
        delete from sco_subject where subject_id = #{subjectId}
    </delete>

    <delete id="deleteScoSubjectBySubjectIds" parameterType="String">
        delete from sco_subject where subject_id in
        <foreach item="subjectId" collection="array" open="(" separator="," close=")">
            #{subjectId}
        </foreach>
    </delete>
</mapper>